@model ML.Empleado
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Formulario de Empleado</h2>
    <p>Llene la información correspondiente al nuevo empleado</p>
</div>
<hr />

@using (Html.BeginForm("Form", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ClaveEmpleado)

    <div class="row">

        <div class="col-md-3">
            @Html.Label("Nombre")
            @Html.TextBoxFor(model => model.NombreEmpleado, new { @class = "form-control", onkeypress = "return validarLetras(event,'lblNombreEmpleado')" })
            <label id="lblNombreEmpleado" style="color:#ff0000"></label>
        </div>

        <div class="col-md-3">
            @Html.Label("Fecha de Ingreso")
            @Html.TextBoxFor(model => model.FechaIngreso, new { @class = "form-control", @placeholder = "MM/DD/AAAA", @Type = "Date" })
        </div>

        <div class="col-md-3">
            @Html.Label("Departamento")
            @Html.DropDownListFor(model => model.Depa.IdDepartamento, new SelectList(Model.Depa.Departamentos, "IdDepartamento", "DescDepartamento"), "Selecciona un departamento", new { @class = "form-control" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.FechaNacimeinto, new { @class = "hidden" })
            @Html.TextBoxFor(model => model.FechaNacimeinto, new { @class = "form-control", @placeholder = "MM/DD/AAAA", @Type = "Date" })
        </div>

    </div>
    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" data-toggle="modal" class="btn btn-success" value="Guardar" />

                <a id="back" class="btn btn-danger" href="@Url.Action("GetAll", "Empleado")">Volver</a>
            </div>
        </div>
    </div>

}


@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    function validarLetras(e, lbl) {
        var key = e.keyCode;
        if ((key >= 65 && key <= 90) || key == 8 || (key >= 97 && key <= 122)) {
            $('#' + lbl).text('');
            return true;
        }
        else {
            $('#' + lbl).text('Solo se aceptan letras');
            $('#' + lbl).css('color', 'red');

            return false;
        }
    }
</script>
